a {
  text-decoration: none;
  padding: 8px 16px;
}

.link-back {
  margin-top: 24px;
}

.answers, .questions {
  border-left: 4px solid lightgray;
  padding: 8px 16px;
  margin-bottom: 10px;
}

.answers {
  background-color: #FFFFE1;
}



